.about__container {
  width: 317px;
  background-color: #1a1b21;
  padding-top: 1px;
}

.about__title {
  color: white;
  margin: 30px 36px 10px;
  font-size: 20px;
}

.about__description {
  color: white;
  font-size: 13px;
  margin: 0px 36px;
}
